* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header {
    height: 54px;
    margin-bottom: 48px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid #f3f3f4;
}

.header__container-left {
    display: flex;
    align-items: center;
}

.header__container-left>a {
    margin-right: 44px;
}

.header__container-left ul {
    list-style: none;
    display: flex;
    height: 100%;
    line-height: 50px;
}

.header__container-left ul li a {
    text-decoration: none;
    color: #565e6c;
    margin-right: 12px;
    display: inline-block;
    min-width: 68px;
    text-align: center;
}

.header__container-right {
    display: flex;
    align-items: center;
}

.container__right-input {
    background-color: #f3f4f6;
    border-radius: 4px;
    width: 336px;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.container__right-input input {
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 15px;
}

.header__container-right>a {
    margin-left: 18px;
}

.header__container-left ul li .active {
    border-bottom: 4px solid #00bdd6;
    color: #00bdd6;
}

.main {
    width: 1182px;
    margin: 0 auto;
}

.main_title {
    margin-bottom: 20px;
}

.main_title a {
    text-decoration: none;
    color: #9095a0;
    transition: .3s;
}

.main_title a:hover {
    color: #00bdd6;
}

.main>h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.main__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.main__action-left {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.main__action-left>span:nth-child(3) {
    color: #9095a0;
    margin-left: 2px;
}

.main__action-right>a {
    text-decoration: none;
    color: #171a1f;
    font-size: 16px;
}

.main__action-right>a:nth-child(1) {
    margin-right: 46px;
}

.main__review-content,
.main__product {
    padding-bottom: 44px;
    border-bottom: 1px solid #fefefe;
}

.product__img {
    display: flex;
    margin-bottom: 50px;
}

.product__img-main {
    margin-right: 8px;
}

.product__img-main img {
    width: 100%;
    height: 100%;
}

.product__img-detail {
    margin: 0 -4px;
    margin-bottom: -8px;
    flex: 1;
}

.gird {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 0 4px;

}

.col-6 {
    flex:0 0 50%;
} 

.product__img-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 8px;
}

.product__content {
    display: flex;
}

.product__desc {
    flex: 1;
}

.product__desc>h2 {
    margin-bottom: 20px;
}

.product__desc>p {
    line-height: 1.6;
    font-size: 14px;
}

.product__desc-detail {
    margin-top: 46px;
    display: flex;
}

.product__desc-detail p {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.product__desc-detail img {
    margin-right: 8px;
}

.product__desc-detail .left {
    margin-right: 46px;
}

.product__action {
    width: 342px;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    padding: 22px 12px;
}

.product__action>h3 {
    color: #00bdd6;
    text-align: right;
    font-size: 24px;
    margin-bottom: 24px;
}

.product__action>select {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #f3f4f6;
    padding: 12px 10px;
    margin-bottom: 12px;
}

.product__action-total {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.product__action-total span:nth-child(1) {
    font-size: 14px;
    color: #565e6c;
    margin-bottom: 18px;
}

.product__action>button {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 46px;
    font-size: 16px;
}

.product__action>button:nth-child(6) {
    color: #fff;
    background-color: #00bdd6;
    margin-bottom: 16px;
}

.product__action>button:nth-child(7) {
    border: 1px solid #00bdd6;
    color: #00bdd6;
    background-color: transparent;
}

.main__review {
    margin-top: 50px;
}

.main__review-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.review__title-left {
    display: flex;
    align-items: center;
}

.review__title-left h3 {
    font-size: 26px;
}

.review__title-left > img {
    margin: 0 4px;
}

.review__title-left > span:last-child {
    margin-left: 2px;
    color: #565e6c;
}

.review__title-right > a {
    text-decoration: none;
    color: #9297a2;
    display: flex;
    align-items: center;
}

.review__title-right > a > span {
    margin-right: 12px;
}

.account__container {
    margin-bottom: 40px;
}

.account {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.account__img {
    margin-right: 16px;
}

.account__name {
    margin-bottom: 6px;
}

.account__name > span:nth-child(2) {
    font-size: 14px;
    color: #9095a0;
}

.account__comment {
    max-width: 545px;
}

.account__comment p{
    line-height: 1.6;
    font-size: 14px;
}